html,
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 298px;
  height: 54px;
  background-color: $accent-color;
  border-radius: 25px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

p {
  font-size: 1em;
  font-weight: 400;
}
