.animals {
  padding-top: 90px;
  overflow: hidden;

  &__container {
    max-width: 1352px;
    padding-bottom: 100px;
    position: relative;
  }

  &__btn {
    margin: 80px auto 0 auto;
  }

  &__palm,
  &__strelitzia {
    position: absolute;
    z-index: 0;
  }

  &__palm {
    bottom: 0;
    left: -670px;
  }

  &__strelitzia {
    bottom: 0;
    right: -124px;
  }
}

.carousel {
  display: flex;
  align-items: center;
  gap: 0 20px;

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 9;
  }

  &__btn {
    flex: 0 0 62px;
    width: 62px;
    height: 62px;
    border-radius: 50%;

    &-left {
      background: url(/img/icons/btn-arrow-left.svg) center no-repeat, $gradient-accent;
    }

    &-right {
      background: url(/img/icons/btn-arrow-right.svg) center no-repeat, $gradient-accent;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    position: relative;
    z-index: 5;
  }

  &__left,
  &__right {
    display: none;
  }
}

.card-carousel {
  max-width: 366px;
  max-height: 426px;
  border: 1px solid $accent-color;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;

  &__image {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  &__descriprion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 12px 16px;
  }

  &__text {
    p:first-of-type {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: #000;
    }
  }
}

@media all and (max-width: 1360px) {
  .animals {
    padding-top: 70px;

    &__container {
      max-width: 972px;
    }

    &__btn {
      margin-top: 60px;
    }

    &__palm {
      left: -186px;

      img {
        max-height: 202px;
      }
    }

    &__strelitzia {
      right: -20px;

      img {
        max-height: 180px;
      }
    }
  }

  .carousel {
    position: relative;

    &__block {
      gap: 92px 30px;
    }

    &__btn {
      position: absolute;
      top: 50%;
      z-index: 9;

      &-left {
        left: 50%;
        transform: translate(-146px, -50%);
      }

      &-right {
        right: 50%;
        transform: translate(146px, -50%);
      }
    }
  }

  .card-carousel {
    max-width: 294px;
    max-height: 354px;
  }
}

@media all and (max-width: 1000px) {
  .animals {
    padding-top: 40px;

    &__container {
      max-width: $content-630;
    }

    &__palm {
      left: -220px;
    }

    &__strelitzia {
      img {
        max-height: 130px;
      }
    }
  }

  .carousel {
    &__block :nth-child(5),
    &__block :nth-child(6) {
      display: none;
    }

    &__btn {
      &-left {
        transform: translate(-76px, -50%);
      }

      &-right {
        transform: translate(76px, -50%);
      }
    }
  }

  .card-carousel {
    max-width: 285px;
    max-height: 332px;

    &__descriprion {
      padding: 6px 10px 6px 12px;
    }

    &__text {
      p:first-of-type {
        font-size: 0.78125rem;
      }

      .small-text {
        color: #000;
        font-size: 0.73rem;
      }
    }
  }
}

@media all and (max-width: 630px) {
  .animals {
    padding-top: 20px;

    &__container {
      max-width: $content-330;
    }

    &__palm {
      left: -75px;
      img {
        max-width: 130px;
      }
    }

    &__strelitzia {
      img {
        max-width: 100px;
      }
    }

    &__btn {
      margin-top: 20px;
    }
  }

  .carousel {
    &__block {
      gap: 20px 0;
    }

    &__btn {
      display: none;
    }
  }

  .card-carousel {
    max-width: 285px;
    max-height: 332px;

    &__descriprion {
      padding: 6px 10px 6px 12px;
    }

    &__text {
      p:first-of-type {
        font-size: 0.78125rem;
      }

      .small-text {
        color: #000;
        font-size: 0.73rem;
      }
    }
  }
}
