.footer {
  background-color: #111115;
  padding-top: 40px;
  padding-bottom: 50px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) max-content;
    grid-template-areas:
      'logo input input input'
      'btn btn btn btn'
      'socials navbar navbar designed';
  }

  &__logo {
    grid-area: logo;
  }

  &__input-section {
    grid-area: input;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    label {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.2;
      color: #fff;
    }

    .input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 14px;
      gap: 10px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.4;
    }

    input {
      width: 228px;
      height: 42px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 400;
      font-size: 16px;
      background: transparent;
      border: 1px solid $accent-color;
      border-radius: 2px;
      color: #fff;
    }

    button[type='submit'] {
      width: 130px;
      height: 42px;
      font-weight: 400;
      font-size: 1em;
      line-height: 42px;
      border: 1px solid $active-green;
      border-radius: 5px;
      background-color: $light-gray;
      color: $active-green;
    }

    input::placeholder,
    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder {
      color: #bdbdbd;
    }
  }

  &__btn {
    grid-area: btn;
    margin-top: 36px;
    background: $gradient-accent;
    border-radius: 5px;
  }

  &__socials {
    grid-area: socials;
  }

  &__navbar {
    grid-area: navbar;
  }

  &__designed-by {
    grid-area: designed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;

    > * {
      color: gray;
      font-weight: 100;
    }
  }
}

.logo-footer {
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 2px;
  position: relative;

  &__text {
    display: block;
    padding: 2px;
    font-size: 19.0145px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
  }

  &__image {
    position: absolute;
    left: 8px;
    top: 22px;
  }
}

.navbar-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 15px;
  font-weight: 500;
  line-height: 1.4;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 58px;
    color: #fff;
  }

  &__item {
    a {
      display: block;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 44px;

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;

    a {
      display: inline-flex;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
  }

  &__name {
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

@include desktop-1280 {
  .navbar-footer {
    &__list {
      column-gap: 48px;
    }
  }
}

@include tablet-830 {
  .footer {
    padding-top: 12px;
    padding-bottom: 12px;

    &__container {
      grid-template-columns: 60% auto;
      grid-template-areas:
        'logo socials'
        'btn socials'
        'navbar designed';
    }

    &__input-section {
      display: none;
    }

    &__btn {
      margin-top: 0;
    }

    &__designed-by {
      flex-direction: row;
      margin-top: 42px;
    }
  }

  .navbar-footer {
    padding-left: 0;
    padding-right: 15px;
    justify-content: flex-start;

    &__list {
      column-gap: 36px;
    }
  }

  .socials {
    align-items: flex-end;
    margin-top: 0;
    gap: 20px;

    &__item {
      a span {
        display: none;
      }
    }
  }
}

@include mobile-500 {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;

    &__container {
      grid-template-columns: 1fr;
      grid-template-areas:
        'logo'
        'socials'
        'btn'
        'designed'
        'navbar';
      row-gap: 30px;
    }

    &__designed-by {
      margin-top: 0;
    }
  }

  .logo-footer {
    width: max-content;
    height: unset;
    border: none;
    justify-self: center;

    &__text {
      padding: 0;
    }

    &__image {
      left: 71px;
      top: -3px;
    }
  }

  .socials {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .navbar-footer {
    display: block;
    padding: 0;

    &__list {
      justify-content: space-between;
      gap: 0 10px;
    }
  }
}
