.header {
  background-color: #000;
}

.header__block {
  display: flex;
  align-items: center;
  height: 80px;
  color: #fff;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 2px;
  position: relative;

  &__text {
    display: block;
    padding: 2px;
    font-size: 19.0145px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
  }

  img {
    position: absolute;
    left: 8px;
    top: 22px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 63px;
  flex: 1 1 auto;
  font-weight: 500;
  line-height: 1.4;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
}
