.idea {
  padding-top: 140px;
  padding-bottom: 90px;
  position: relative;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__image {
    flex-shrink: 3;

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }

  &__text {
    max-width: 465px;
    flex-shrink: 0;

    h2 {
      margin-bottom: 20px;
    }

    h2 + p {
      margin-bottom: 54px;
      line-height: 1.3;
    }

    h4 {
      margin-bottom: 30px;
    }

    h4 + p {
      line-height: 1.4;
    }
  }

  &__flower {
    position: absolute;
    right: 0;

    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
