.idea {
  padding-top: 140px;
  padding-bottom: 90px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
  }

  &__image {
    flex-shrink: 1;

    img {
      max-width: 100%;
    }
  }

  &__text {
    flex: 1 0 auto;
    max-width: 465px;

    h2 {
      margin-bottom: 20px;
    }

    h2 + p {
      margin-bottom: 54px;
      line-height: 1.3;
    }

    h4 {
      margin-bottom: 34px;
    }

    h4 + p {
      line-height: 1.4;
    }
  }

  &__flower {
    position: absolute;
    z-index: 1;
    right: -300px;
    top: -128px;

    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

@include desktop-1280 {
  .idea {
    padding-top: 100px;
    padding-bottom: 70px;

    &__container {
      gap: 20px;
    }

    &__text {
      max-width: 454px;
    }

    &__image {
      flex: 0 1 calc(50% - 15px);
      height: 408px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__flower {
      display: none;
    }
  }
}

@include tablet-830 {
  .idea {
    padding-top: 60px;
    padding-bottom: 40px;

    &__container {
      gap: 0;
    }

    &__image {
      display: none;
    }

    &__text {
      max-width: 495px;

      h2 + p {
        margin-bottom: 30px;
      }

      h4 {
        margin-bottom: 20px;
      }
    }

    &__flower {
      display: block;
      top: -65px;
      right: -120px;

      img {
        height: 476px;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .idea {
    padding-top: 15px;
    padding-bottom: 20px;

    &__container {
      justify-content: center;
    }

    &__text {
      max-width: 400px;
      flex-shrink: 1;

      h2 {
        text-wrap: balance;
        font-size: 2rem;
      }
    }

    &__flower {
      right: -30px;

      img {
        height: 200px;
      }
    }
  }
}

@include mobile-500 {
  .idea {
    &__text {
      h2 {
        margin-bottom: 10px;
        font-size: 1.5rem;
      }

      .idea__text h2 + p {
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 10px;
      }
    }

    &__flower {
      right: calc(-21vw - 10px);
    }
  }
}
